@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Bebas+Neue&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');



body {
    background: linear-gradient(to right, white, #f6e6ea);
    background-size: cover; 
    background-repeat: no-repeat;
    padding: 0 15px;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    align-items: center;

    padding: 0 15px;
}


h1 {
    margin-top: 70px;
    margin-bottom: 30px;
    text-align: center;
    font-family: 'Abril Fatface', cursive;
    font-size: 3.2em;
    color: #e883a8;
    text-shadow:
        1px 1px 0 #fff,
        0 3px 8px rgba(0, 0, 0, 0.12);
}

h1:hover{
    font-size: 3.24em;
}

h1 {
    animation: float 3s ease-in-out infinite;
}

@keyframes float {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(-2px); }
}


.form {
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.071);
    max-width: 400px;
    width: 90%; 
    
    background-color: #FDCEDF;
    border-radius: 10px;
    padding: 20px;
    margin-top: 20px;
    border: 0.5px solid #fffafc;
}


.form:active{
    margin-top: 20.5px;
}

.input {
    width: 100%;
    box-sizing: border-box;
    padding: 20px;
    border-radius: 10px 10px 10px 10px;
    border: none;
    font-size: 16px;
    margin-bottom: 10px;
    transition: background-color 0.3s;
}


.input:hover {
    background-color: rgb(251, 251, 251);
}

.input::placeholder {
    color: lightgray;
    font-family: "Montserrat", sans-serif;
}


.list {
    padding: 0px;
    margin: 0px;
}

.list li {
    list-style-type: none;
    padding: 20px;
    padding-right: 70px;
    font-family: "Montserrat", sans-serif;
    border-top: 1px dotted rgba(123, 92, 117, 0.4);
    position: relative;
    background-color: #f19aba;
    border-radius: 10px;
    margin-bottom: 5px;
    transition: 0.3s;
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal;
}

.list li:hover{
    background-color:  #e893b2;
}

.list li .fa-trash-arrow-up {
    color: #b26a86;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.list li .fa-square {
    color: #5D2F77;
    position: absolute;
    right: 40px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.list li .fa-square-check {
    color: #5D2F77;
    position: absolute;
    right: 40px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.list li.checked {
    color: #b5788d;
    text-decoration: line-through;
}

.list li.checked .fa-square-check {
    color: #b5788d
}

@media (max-width: 480px) {
    h1 {
        font-size: 2.3em;
        margin-top: 40px;
    }

    .form {
        padding: 15px;
    }

    .list li {
        font-size: .8em;
        padding: 15px;
        padding-right: 65px;
    }
}
